<div class="splash" style="background-image: url('../assets/images/splash.png');">

<div class="ui two column centered grid">
  <div class="column">
    <div class="middle">


      <h1 class="center"> Hobby Link </h1>
      <div class="ui divider"></div>

      <p class="center grey">
        Forge Meaningful Connections!
      </p>

      <div class="center">
        <button class="ui orange basic button" (click)="goToLoginPage()">Get Started!</button>
      </div>

    </div>
  </div>

</div>
</div>
